@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #f5cada;
    color: #3a2234;

    font-size: 16px;
    font-size: normal;
    font-family: "Roboto", sans-serif;
}

/* Если хоти обнулить все отступы: */
/* * {
    padding: 0;
    margin: 0;
} */

a {
    color: #DD4492;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #db488f;
}

a:visited {
    color: #8673A1;
}

.avatar {
    width: 225px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
    margin-bottom: 20px;
    display: flex;
}

@media (max-width: 700px) {
    .info {
        display: block;
        text-align: center;
    }
}

.info p {
    color: #684b61;
    margin: 0;
    font-style: italic;
    text-decoration: none;
    /* text-transform: uppercase; */
    /* letter-spacing: 5px; */
    /* word-spacing: 42px; */

}

.info-text {
    margin-left: 40px;
}

.info-text h4 {
    margin-bottom: 10px;
}

/* Box Model */
.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}


/* Работа с отступами (границами): */
/* .social {
    background: pink;
    padding: 15px 40px 20px 60px;
    border: 10px solid plum;
    margin: 20px;
    border-bottom-style: dotted;
    border-top-width: 15px;
    border-right-color: blueviolet;
} */

.bg-pink {
    background: #e0adb6;
}

.bg-image {
    background-image: url(https://gif-kartinki.ru/fony/fon_32.jpg);
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 15px;
}

.list {
    padding: 0px 20px;
}

.list li {
    color: #6D3F5B;
    margin-bottom: 10px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2), .table td:nth-child(3) {
    color:#7f5374 ;
}

.link-list {
    list-style-image: linear-gradient(to left bottom, #473342, #8b7eb3);
    padding: 0px 20px;
}

.link-list li {
    margin-bottom: 15px;
    border-bottom: 1px solid #b98eae;
    padding-bottom: 15px;
}

.contact h2{
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #7f5374;
}

.form-group input, .form-group textarea {
    width: 100%;
    border: none;
    box-sizing: border-box; /* чтобы поле ввода не выходила за блок */
    border-bottom: 1px solid #3d2537;
    background: transparent;
    color: #3a2234;
    margin: 5x;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.form-group input::placeholder, .form-group textarea::placeholder  {
    color: #3a2234;
}

.row {
    display: flex;
    margin-bottom: 20px;
}


.row > .form-group {
    width: 50%;
}

.row > .form-group:first-child {
    margin-right: 20px;
}

.btn {
    background: #d1a2b6;
    padding: 15px 20px;
    border: none;
    border-radius: 28px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

/* Position */

/* .position {
    border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
    height: 300px;
    position: relative;

}

.box {
    width: 50px;
    height: 50px;
    background: lightcoral;
    position: absolute;
    top: 50px;
} */